* {
  box-sizing: border-box;
}

/* Create four equal columns that floats next to each other */
.col-4 {
  float: left;
  width: 25%;
  padding: 20px;
}
.col-3 {
  float: left;
  width: 33%;
  padding: 20px;
}
.tbl{
  width: 80%;
}
.col-pad{
  margin-right: 120px;
  margin-left: 120px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
  .col-4 {
    width: 50%;
  }
  .col-3 {
    width: 100%;
  }
  .tbl{
    width: 100%;
  }
  .col-pad{
    margin-right: 0px;
    margin-left: 0px;
  }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-4 {
    width: 100%;
  }
  .col-3 {
    width: 100%;
  }
  .tbl{
    width: 100%;
  }
  .col-pad{
    margin-right: 0px;
    margin-left: 0px; 
  }
}